@model UpdateBlogDto
@{
    ViewData["Title"] = "Blog Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="BlogId" />
    <label>Blog Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Blog Kategorisi</label>
    <select asp-items="@ViewBag.Categories" asp-for="BlogCategoryId" class="form-control">
        <option selected disabled>Kategori seçiniz...</option>
    </select>
    <br />
    <label>Blog İçeriği</label>
    <textarea class="form-control" asp-for="Content"></textarea>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>